<p id="notice"><%= notice %></p>

<h1>Case Types</h1>

<table>
  <thead>
    <tr>
      <th>Type of case</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @case_types.each do |case_type| %>
      <tr>
        <td><%= case_type.type_of_case %></td>
        <td><%= link_to 'Show', case_type %></td>
        <td><%= link_to 'Edit', edit_case_type_path(case_type) %></td>
        <td><%= link_to 'Destroy', case_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case Type', new_case_type_path %>
