<%= form_with(model: court_name) do |form| %>
  <% if court_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(court_name.errors.count, "error") %> prohibited this court_name from being saved:</h2>

      <ul>
        <% court_name.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4 mb-3">
  <%= form.label :court_name %>
  <%= form.text_field :court_name, class: "form-control" %>
</div>
<div class="form-group row justify-content-center">
    <%= form.submit :save %>
  </div>
<% end %>
