
   <%= render 'shared/errors', obj: @user %>     
<div class="wrapper">
<div class="logo"> <img src="https://services.ecourts.gov.in/ecourtindia_v4_bilingual/images/ecourts-logo.png" alt=""> </div>
    <div class="text-center mt-4 name"> E-COURTS </div>
      
      <%= form_with(model: @user, local: true) do |f| %>
          
        <div class="p-3 mt-2">
          <div  class="form-field d-flex align-items-center"> 
            <%= f.text_field :username, placeholder: "Enter your username" %>
          </div>
          <div  class="form-field d-flex align-items-center"> 
            <%= f.email_field :email, placeholder: "Enter your email" %>
          </div>
          <div  class="form-field d-flex align-items-center"> 
            <%= f.password_field :password, placeholder: "Choose a password" %>
          </div>
        </div>
        <div>
          <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-outline-light btn-lg") %>
        </div>
      <% end %>
    </div>