<p id="notice"><%= notice %></p>

<h1 class="text-center">Case Infos</h1>

<table>
  <thead  class="table">
    <tr>
    <th>Case category</th>
    <th>Court name</th>
    <th>Judge name</th>
    <th>Registration number</th>
    <th>Case stage</th>
    <th>Petitioner name</th>
    <th>Petitioner advocate</th>
    <th>Respondent name</th>
    <th>Respondent advocate</th>
    <th>Business on date</th>
    <th>Hearing date</th>
    <th>Purpose of hearing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @case_infos.each do |case_info| %>
      <tr>
      <td><%= case_info.case_category %></td>
      <td><%= case_info.court_name %></td>
      <td><%= case_info.judge_name %></td>
      <td><%= case_info.registration_number %></td>
      <td><%= case_info.case_stage %></td>
      <td><%= case_info.petitioner_name %></td>
      <td><%= case_info.petitioner_advocate %></td>
      <td><%= case_info.respondent_name %></td>
      <td><%= case_info.respondent_advocate %></td>
      <td><%= case_info.business_on_date %></td>
        <td><%= case_info.hearing_date %></td>
        <td><%= case_info.purpose_of_hearing %></td>
        <td><%= link_to 'Show', case_info %></td>
        <td><%= link_to 'Edit', edit_case_info_path(case_info) %></td>
        <td><%= link_to 'Destroy', case_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case Info', new_case_info_path %>
