<p id="notice"><%= notice %></p>
<p>
  <strong>Case category:</strong>
  <%= @case_info.case_category %>
</p>
<p>
  <strong>Court name:</strong>
  <%=@case_info.court_name %>
</p>
<p>
  <strong>Judge name:</strong>
  <%= @case_info.judge_name  %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @case_info.registration_number %>
</p>
<p>
  <strong>Case stage:</strong>
  <%= @case_info.case_stage %>
</p>
<p>
  <strong>Petitioner name:</strong>
  <%= @case_info.petitioner_name %>
</p>

<p>
  <strong>Petitioner advocate:</strong>
  <%= @case_info.petitioner_advocate %>
</p>

<p>
  <strong>Respondent name:</strong>
  <%= @case_info.respondent_name %>
</p>

<p>
  <strong>Respondent advocate:</strong>
  <%= @case_info.respondent_advocate %>
</p>
<p>
  <strong>Business on date:</strong>
  <%= @case_info.business_on_date %>
</p>

<p>
  <strong>Hearing date:</strong>
  <%= @case_info.hearing_date %>
</p>

<p>
  <strong>Purpose of hearing:</strong>
  <%= @case_info.purpose_of_hearing %>
</p>
<%= link_to 'Edit', edit_case_info_path(@case_info) %> |
<%= link_to 'Back', case_infos_path %>
